<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/stalupita</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">4dm1n.p05</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">false</property>
    <mapping resource="pos/stalupita/model/Inventario.hbm.xml"/>
    <mapping resource="pos/stalupita/model/Ticket.hbm.xml"/>
    <mapping resource="pos/stalupita/model/DetalleTicket.hbm.xml"/>
    <mapping resource="pos/stalupita/model/Producto.hbm.xml"/>
    <mapping resource="pos/stalupita/model/Categoria.hbm.xml"/>
    <mapping resource="pos/stalupita/model/UnidadMedida.hbm.xml"/>
    <mapping resource="pos/stalupita/model/Configuracion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
